# sftpcloudfs example configuration file
#
# Defaults are shown in the comments.
# Configuration tokens don't require quotes.
#

[sftpcloudfs]

# Authentication URL (eg Memstore, RackSpace Cloud Files, OpenStack)
# auth-url = (empty)

# Allow to access servers without checking SSL certs
# insecure = no

# Host RSA key used by the server.
# host-key-file = (empty)

# Address to bind.
# bind-address = 127.0.0.1

# Port to bind.
# port = 8022

# SCP support.
# scp-support = yes

# Memcache server(s) for external cache (eg 127.0.0.1:11211)
# Can be a comma-separated list.
# memcache = (empty)

# Maximum number of workers.
# max-children = 20

# Authentication grace time in seconds.
# auth-timeout = 60

# Negotiation time limit in seconds, 0 to disable.
# negotiation-timeout = 0

# Keep alive packets interval in seconds, 0 to disable.
# keepalive = 0

# Comma-separated list of ciphers supported by paramiko,
# otherwise defaults are used (eg aes128-ctr,aes256-ctr)
# ciphers = (empty)

# Comma-separated list of digests supported by paramilo,
# otherwise defaults are used (eg hmac-sha2-256, hmac-sha1)
# digests = (empty)

# Large file support.
# Specify a size in MB to split large files.
# split-large-files = (empty)

# Hide .part directory from large files
# hide-part-dir = no

# Log file location.
# log-file = (empty)

# Enable logging to system logger (daemon facility).
# syslog = no

# Show detailed information on logging.
# verbose = no

# Full path to the pid file location.
# pid-file = (empty)

# UID to drop privileges when in daemon mode.
# uid = (empty)

# GID to drop privileges when in daemon mode.
# gid = (empty)

# Auth 2.0 (Keystone), requires keystoneclient
# keystone-auth = no

# Region name to be used with Auth 2.0 (optional)
# keystone-region-name = (empty)

# Tenant separator to be used with Auth 2.0 (eg. TENANT.USERNAME)
# keystone-tenant-separator = .

# Service type to be used with Auth 2.0.
# keystone-service-type = object-store

# Endpoint type to be used with Auth 2.0.
# keystone-endpoint-type = publicURL

# EOF

